.img-logo-centro{
    width: 30em;    
    margin: 0 auto;
}
ul li a{
    font-weight: 600;
}

.container-centro{
    text-align: center;
    padding: 4em;
}
.container-livro{
    margin-top: 3em;
}
.pd-livro{
    margin-right: 3em;
}
.pd-label{
    margin-top: 1em;
}
.img-max{
    max-width: 300px;
    width: auto;
}
.titulo-centro{
    text-align: center;
    margin: auto;
}
.texto-jus{
    text-align: justify;
    padding-bottom: 60px;
}
.back-color{
    background-color: #00A0A9;
    color: #FFF;
}
.tituloLivro{
    font-size: 2em;
}
.descLivro{
    font-size: 1.2em;
}
.textoSinopse{
    padding-top: 4em;
    text-align: center;
}
.precoCentro{
    text-align: center;
    margin-top: 4em;
}
.valorProduto{
    font-size: 2.5em
}
.btn-compra{
    width: 350px;
    height: 50px;
    font-size: 30px;
    background-color: #008000;
    color: #fff;
}
.btn-compra:hover{
    color: #fff;
}
.btn-carrinho{
    width: 350px;
    height: 50px;
    font-size: 30px;
    background-color: deepskyblue;
    color: #fff;
}
.login-centro{
    text-align: center;
}
.btn-login{
    width: 350px;
    height: 50px;
    font-size: 30px;
    background-color: rgb(0,157,172);
    color: #fff;
}
.li-none{
    list-style-type: none;
}
.cor-menu{
    background-color: #00A0A9;
}
.cor-fonte-menu{
    color:  #fff;
}
footer{
    clear: both;
    bottom: 50%;
    position: relative;
    width: 100%;
}
.carrinho{    
    bottom: 0%;
    width: 100%;
}
html{
    height: 100%;
}

body #categoria{
    min-height: 100%;
    height: 100%;
}


.btn-esvaziar{
    width: 150px;
    height: 40px;
    font-size: 25px;
    background-color: red;
    color: #fff;
}
.btn-posicao{
    margin-left: 20%;
}
.btn-finalizar-compra{
    margin-top: 5%;
}
.btn-continuar{
    background-color: darkorange;
    margin-top: 20%;
}

.p-carrinho {
    margin-bottom: 14%;
}

.content {
    text-align: left;
    padding-bottom: 25%;
}

/*Retirar a margem da classe nos dispositivos móveis*/
@media screen and (max-width: 768px){
    .pd-livro{ margin-right: 0;}
}

@media screen and (max-width: 768px){
    .b-centro{
        text-align: center;
    }
}

@media screen and (max-width: 768px){
    .btn-compra{
        width: 200px;
        height: 50px;
        font-size: 30px;
        background-color: #008000;
        color: #fff;
    }
}

@media screen and (max-width: 768px){
    .btn-carrinho{
        width: 200px;
        height: 50px;
        font-size: 30px;
        background-color: deepskyblue;
        color: #fff;
    }
}

/*Alinhando o título e descrição do livro*/
@media screen and (max-width: 768px){
    .tituloLivro{
        font-size: 1.3em;
    }
    .descLivro{
        font-size: 1em;
    }
    .valorProduto{
        margin-top: 3px;
        font-size: 1.5em
    }
    .precoCentro{
    text-align: center;
    margin-top: 0;
}
}